* {
    box-sizing: border-box;
}

html, body {
    background-color: #FAFAFA;
    text-shadow: white 0px 1px 1px;
    font-size: 14px;
    height: 100%;
}

#app-container {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 1.4em;
    font-family: 'Inconsolata', monospace;
}

#app-container #gutter {
    float: left;
    padding: 3px 12px 3px 3px;
    opacity: .6;
}

.err {
    background-color: #FCC;
}

#app-container .left-panel {
    border-right: 1px solid #ccc;
    padding: 0;
    height: 100%;
    width: 70%;
    float: left;
    margin-right: 12px;
}

#app-container .right-panel {
    padding: 3px;
    background-color: rgba(0, 0, 0, .02);
    height: 100%;
}

#app-container textarea {
    width: 100%;
    border: none;
    padding: 3px;
    background: transparent;
    height: 100%;
    resize: none;
}

#app-container textarea:focus {
    outline: none;
}

#app-container .result:before {
    content: attr(data-label);
    opacity: .4;
}

#app-container textarea,
#app-container #gutter,
#app-container .result {
    line-height: 30px;
}

#app-container .result {
    height: 30px;
}

#app-container {
    position: relative;
    z-index: 10;
}

#cursor-hl {
    position: absolute;
    top: 0;
    background-color: #EEF;
    width: 100%;
    height: 30px;
    z-index: 1;
}
