* {
    box-sizing: border-box;
}

html, body {
    background-color: #FAFAFA;
    text-shadow: white 0px 1px 1px;
    font-size: 14px;
    height: 100%;
}

#app-container {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 1.4em;
    font-family: 'Inconsolata', monospace;
}

#app-container .left-panel {
    border-right: 1px solid #ccc;
    padding: 0;
    height: 100%;
    width: 70%;
    float: left;
}

#app-container .right-panel {
    padding: 3px;
    background-color: rgba(0, 0, 0, .02);
    height: 100%;
}

#app-container textarea {
    width: 100%;
    border: none;
    padding: 3px;
    background: transparent;
    height: 100%;
    resize: none;
}

#app-container textarea:focus {
    outline: none;
}

#app-container textarea,
#app-container .result {
    line-height: 32px;
}

#app-container .result {
    height: 32px;
}
