* { box-sizing: border-box; }

html, body {
    height: 100%;
    font-size: 20px;
    font-family: Monaco;
    color: #333;
}

.pane {
    position: relative;
    float: left;
    border: thin solid gray;
    overflow: auto;
    height: 100%;
}

.pane > .label {
    width: 100%;
    color: #555;
    cursor: default;
    padding: 3px;
    background-color: #EEE;
    height: 40px;
    line-height: 40px;
}

.pane .content {
    margin: 0;
    padding: 3px;
    width: 100%;
    height: calc(100% - 40px);
}

#source-pane { width: 30%; }
#result-pane { width: 70%; }

#source-input {
    border: none;
    resize: none;
    font-size: 1em;
    color: #333;
}

#source-input:focus {
    outline: none;
    background-color: #FFB;
}
