* { box-sizing: border-box; }

html, body {
    height: 100%;
    font-size: 20px;
    font-family: Monaco;
    color: #333;
}

.pane {
    position: relative;
    float: left;
    border: thin solid gray;
    overflow: auto;
}

.pane > .label {
    position: absolute;
    border-width: 0 0 1px 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 0 0 0 6px;
    background-color: #EEE;
    color: gray;
    cursor: default;
    padding: 3px;
    top: 0;
    right: 0;
}

#source-pane { width: 100%; height: 15%; }
#lexer-pane { width: 25%; height: 85%; }
#parser-pane { width: 50%%; height: 85%; }
#interpreter-pane { width: 25%; height: 85%; }

#source-input {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 1em;
    padding: 3px;
    color: #333;
}

#source-input:focus {
    outline: none;
}

.pane pre {
    margin: 0;
    padding: 3px;
    min-height: 100%;
}

.error {
    background-color: #FFB8B8;
}

.error + .label {
    background-color: maroon;
    color: white;
}
